body{
    background-color: #FFFFFF;
    background-image: url("../../assets/SL-011023-55240-09.jpg");
    height: 100%;
    font-family: sans-serif;
    margin: 0 0 45px;
}

.content{
    text-align: center;
    color: #000000;
}

.content h1{
    margin-top: 15%;
    font-size: 80px;
}

.content p{
    margin-top: -2%;
    font-size: 30px;
}

#register{
    background-color: #e64110;
    text-decoration: none;
    padding: 20px;
    border-radius: 60px;
}

.title {
    font-size: 40px;
    color: #063444;

}

.label{
    margin-top: 10px;
    font-size: 22px;
}

form{
    margin: 15px auto;
    font-size: 20px;
    background-color: #207394;
    padding: 2% 1%;
    width: 50%;
    border-radius: 18px;
}

.gender{
    font-size: 23px;
}

.gender input{
    margin-top: 15px;
    margin-bottom: 5px;
}

.city select{
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 23px;
    width: 40%;
}

.formInput input{
    margin-top: 15px;
    width: 40%;
    font-size: 20px;

}

.button{
    text-align: center;
}

.button input{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: #084152;
    color: #FFFFFF;
    padding: 10px 40px;
}

#errMsg{
    margin-top: 15px;
    color: #000000;
}


