body{
    background-color: #FFFFFF;
    background-image: url("../../assets/SL-011023-55240-09.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
    margin: 0 0 45px;
}

.content{
    text-align: center;
    color: #000000;
}

.content h1{
    font-size: 8vh;
}

.content p{
    margin-top: -2%;
    font-size: 2vh;
}

.title {
    font-size: 8vh;
    color: #063444;

}

.label{
    margin-top: 2vh;
    font-size: 2vh;
}

form{
    margin: 1vh auto;
    font-size: 2vh;
    background-color: #EBF2F2;
    padding: 2% 1% 1%;
    width: 50%;
    border-radius: 3vh;
}

p {
    margin-top: 5vh;
    font-size: 1vh;
}

p > a {
    border-radius: 1vh;
    font-size: 2vh;
    color: #FFFFFF;
    background-color: #0084AD;
    text-align: center;
    padding: 1vh 1.5vw;
    text-decoration: none;
    box-shadow: 0 0.3vh 0.3vh rgba(0,0,0,0.2);}

.formInput input{
    margin-top: 1.5vh;
    width: 40%;
    font-size: 2vh;
}

.button{
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 2rem;
}

.button input{
    text-align: center;
    border: none;
    margin-top: 2vh;
    font-size: 2vh;
    background-color: #0084AD;
    color: #FFFFFF;
    padding: 1vh 1.5vh;
}



