body{
    background-color: #FFFFFF;
    height: 100%;
    font-family: sans-serif;
    margin: 0 0 5vh;
}

.content{
    align-content: center;
    min-height: 100%;
}

.content h1{
    margin-top: 7%;
    font-size: 5vh;
}

.content p{
    margin-top: -2%;
    font-size: 3vh;
}



