body{
    background-color: #FFFFFF;
    background-image: url("../../assets/SL-011023-55240-09.jpg");
    height: 100%;
    font-family: sans-serif;
    margin: 0 0 2vh;
}

.content{
    text-align: center;
    color: #000000;
}

.content h1{
    font-size: 8vh;
}

.content p{
    margin-top: -2%;
    font-size: 2vh;
}

.title {
    font-size: 8vh;
    color: #063444;

}

.label{
    margin-top: 2vh;
    font-size: 2vh;
}

form{
    margin: 1.5vh auto;
    font-size: 2vh;
    background-color: #EBF2F2;
    padding: 2% 1%;
    width: 50%;
    border-radius: 2vh;
}

.formInput input{
    margin-top: 2vh;
    width: 40%;
    font-size: 2vh;

}

.button{
    text-align: center;
}

.button input{
    text-align: center;
    border: none;
    margin-top: 2vh;
    font-size: 2vh;
    background-color: #0084AD;
    color: #FFFFFF;
    padding: 1vh 2vh;
}


