body{
    background-color: #FFFFFF;
    background-image: url("../../assets/SL-011023-55240-09.jpg");
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

.content{
    text-align: center;
    color: #000000;
}

.content h1{
    font-size: 8vh;
}

.row {
    justify-content: center;
    display: grid;
    grid-template-columns: 70%;
    grid-gap: 1%;
}

.item {
    background-color: #FFFFFF;
    padding: 0 1.3vh;
}

.container {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    padding: 2vh;
}

.container button {
    background-color: #2E4FFF;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2vh;
    font-size: 1.5vh;
    border-radius: 3vh;
    color: #FFFFFF;
}

.cart h1 {
    color: #063444;
    text-align: center;
}

.productName {
    color: black;
    font-size: 3vh;
    text-align: center;
}

.productDetail {
    color: black;
    font-size: 2vh;
    text-align: left;
}

.productPicture {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
}

.detail {
    text-align: left;
}

.quantity {
    width: 2vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity input {
    width: 5vh;
    border: 0;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
    background: #0084AD;
    color: #FFFFFF;
    appearance: none;
    outline: 0;
}

.quantity span {
    display: block;
    font-size: 3vh;
    padding: 0.4vh 1vh;
    cursor: pointer;
    color: #0084AD;
    user-select: none;
}

.checkout {
    width: 80vw;
    margin: 3vh auto 0;
    display: flex;
    background-color: #0084AD;
    color: #FFFFFF;
    border-radius: 2vh;
    padding: 1vh 3vw;
}

.checkout h1 {
    font-size: 3vh;
    color: #FFFFFF;
}

.total {
    margin-left: 0;
    text-align: left;
}

.payment {
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 0 2vw;
    border-radius: 1.5vh;
}

.payment a {
    color: #FFFFFF;
    text-decoration: none;
}



